ProxyRequests off
<Proxy balancer://webcluster >
  {# {% for host in groups.webservers %} another way to call for loop #}
  {% for host in groups['webservers'] %}
    BalancerMember http://{{host}}
  {% endfor %}
    ProxySet lbmethod=byrequests
</Proxy>

# Optional
<Location /balancer-manager>
  SetHandler balancer-manager
</Location>

ProxyPass /balancer-manager !
ProxyPass / balancer://webcluster/
